/* General Styles */

:root {
    --accent: #2f2fcf;
    --light: #f8f8ff;
    --dark: #838996;
}

body{
    margin: 0;
    padding: 0;
    color: var(--light);
    background: url('../imgs/background-edit.png') center/cover no-repeat fixed;
    font-family: 'Roboto', 'Helvetica', sans-serif;
}

/* Navigation */

.navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 97.5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 25px;
    z-index: 1;
    background: linear-gradient(to bottom, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.8) 50%, rgba(0,0,0,0) 100%);
}

.nav-link {
    text-decoration: none;
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.nav-link img {
    width: 64px;
    height: 64px;
    transition: box-shadow 0.3s ease;
}

#scatter-gun-img.nav-link img {
    width: 128px;
    height: 128px;
}

.nav-link:hover img {
    filter: drop-shadow(0 0 10px var(--light));
}

#junker-queen-image:hover {
    filter: drop-shadow(0 0 5px var(--accent));
}

.nav-right {
    display: flex;
    margin-left: auto;
}

/* Main Banner */

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content-left,
.content-right {
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .content-left {
    margin-right: 20px;
}

.content-right {
    margin-left: 20px;
} */

.portrait-image {
    margin-top: 50px;
    width: 250px;
    height: auto;
}

.nav-section {
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
}

.blank-line {
    height: 20px;
}

a {
    font-family: monospace;
    font-size: 18px;
    text-decoration: none;
    color: var(--light)
}

a:hover, a:active {
    /* color: var(--accent); */
    filter: drop-shadow(0 0 15px #f8f8ff);
}

/* Abilities */